*{
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

header{
  text-align: center;
  line-height: 50px;
  height: 50px;
  background: #7D98A1;
}

body{
  background: #A9B4C2;
}

.nav{
  width: 208px;
  height: 735px;
}

.nav__link--inside:hover{
  background: #EEF1EF;
}

.nav__link{
  color: #303440;
  display: block;
  padding: 15px 0;
  text-decoration: none;
}

.list{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 0 16px 16px 0;
  background: #C4CAD0;
}

.list__item{
  list-style: none;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.list__item--click{
  cursor: pointer;
}

.list__button{
  display: flex;
  align-items: center;
  gap: 1em;
  width: 70%;
  margin: 0 auto;
}

.list__arrow{
  margin-left: auto;
  transform: rotate(90deg);
}

.list__show{
  width: 80%;
  margin-left: auto;
  border-left: 2px solid #303440;
  list-style: none;
}

.clearfix{
  clear: both;
}

.frecuente{
  height: 120px;
  width: 120px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 15px;
  float: left;
  background: #EEF1EF;
}

.autor{
  height: 120px;
  width: 120px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 15px;
  float: left;
  background: #EEF1EF;
}

.inicial{
  height: 230px;
  width: 270px;
  border: 1px solid black;
  margin: 15px;
  margin-top: 30px;
  float: left;
  border-radius: 10px;
  background: #C4CAD0;
}

.caja{
  height: 40px;
  width: 245px;
  border: 1px solid black;
  text-align: center;
  margin: 10px;
  background: #EEF1EF;
}

.dos{
  margin-left: 90px;
}

.tres{
  margin-left: 90px;
}

.titulo{
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin: 15px;
}

#container{
  width: 100%;
}

.content{
  width: 85%;
  float: right;
}

aside{
  width: 15%;
  float: right;
}
